
<!-- reactive form -->
<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name</label>
    <input formControlName="name" />
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
      Name is required
    </div>
  </div>

  <div>
    <label>Email</label>
    <input formControlName="email" />
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      Valid email is required
    </div>
  </div>

  <div>
    <label>Age</label>
    <input formControlName="age" type="number" />
    <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched">
      Age must be at least 18
    </div>
  </div>

  <button type="submit">Submit</button>
</form> -->




<!-- template driven form -->
 <!-- <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div>
    <label>Name</label>
    <input name="name" [(ngModel)]="user.name" required #name="ngModel" />
    <div *ngIf="name.invalid && name.touched">Name is required</div>
  </div>

  <div>
    <label>Email</label>
    <input name="email" [(ngModel)]="user.email" required email #email="ngModel" />
    <div *ngIf="email.invalid && email.touched">Valid email is required</div>
  </div>

  <div>
    <label>Age</label>
    <input name="age" type="number" [(ngModel)]="user.age" required min="18" #age="ngModel" />
    <div *ngIf="age.invalid && age.touched">Age must be at least 18</div>
  </div>

  <button type="submit">Submit</button>
</form> -->





<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name</label>
    <input name="name" [(ngModel)]="user.name" required #name="ngModel" />
    <div *ngIf="name.invalid && name.touched">Name is required</div>
  </div>

  <div>
    <label>Email</label>
    <input name="email" [(ngModel)]="user.email" required email #email="ngModel" />
    <div *ngIf="email.invalid && email.touched">Valid email is required</div>
  </div>

  <div>
    <label>Age</label>
    <input name="age" [(ngModel)]="user.age" required min="18" #age="ngModel" />
    <div *ngIf="age.invalid && age.touched">Age must be at least 18</div>
  </div>

  <button type="submit">Submit</button>
</form>


